html
  head
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    )
  link(
    href="https://fonts.googleapis.com/css?family=Rubik|Varela+Round"
    rel="stylesheet"
  )
  link(
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"
  )
  link(
    rel="stylesheet"
    type="text/css"
    href="./styles/main.css"
  )
  block scripts
  body
    div(class="app-header")
      div(class="header-icon")
        img(src="./images/Logo.png")
      div(class="title")= title
      div(class="header-icon right")
        i(class="far fa-user")
    block content
