extends base.pug

mixin result(name, image, link)
  div(
    class="search-result-item card-shadow"
    onClick="goToLink('"+link+"')"
    style="background-image:url('"+image+"');"
  )
    .thumbnail-label= name

block scripts
  script(
    type="text/javascript"
    src="js/dashboard.js"
  )

block content
  -
    var mydoms = {
      'harry_potter': fandoms['harry_potter'],
      'buffy': fandoms['buffy']
    }
  -
    var digimon = [fandoms['digimon_adv'], fandoms['digimon_tam'], fandoms['digimon_front']]
  div(class="container")
    div(class="section")
      h2 My Fandoms
      .search-results.active
        each dom, key in mydoms
          +result(dom.name, dom.image, "/fandom/"+key)
    div(class="section")
      h2 Discover more
      input(
        id="search_bar"
        type="search"
        placeholder="Find your fandom"
        class="search"
        onFocus="onSearch(this.event)"
      )
      div(
        id="search_results"
        class="search-results"
      )
        each dom in digimon
          +result(dom.name, dom.image, "/")
  
    //- div(class="section")
    //-   h3 Browse
    //-   div(class="grid")
    //-     each cat in cats
    //-       div(class="grid-item 1/2 cat-item")= cat
