extends base.pug

mixin tagCloud(tags)
  div(class="tag-cloud")
    each tag in tags
      span(class="tag-chip")= tag

mixin cardFic(item)
  div(class="grid-item 6/12 compact-1/1")
    div(class="blurb box-fic card-shadow")
      p(class="text-lead")= item.title
        | &nbsp;by #{item.author}
      p(class="text-small")= item.description
      p Rating: #{item.rating}
        if item.isChaptered
          span(class="float-right") Chapters: #{item.chapters}
      +tagCloud(item.tags)

mixin cardArt(item)
  div(class="grid-item 6/12 compact-1/1")
    div(class="blurb box-art card-shadow")
      img(
        class="img-rwd thumbnail"
        src=item.thumbnail
        )
      p(class="text-lead")= item.title
        | &nbsp;by #{item.author}
      p(class="text-small")= item.description
      +tagCloud(item.tags)

mixin cardTopic(item)
  div(class="grid-item 6/12 compact-1/1")
    div(class="blurb box-topic card-shadow")
      p(class="text-lead")= item.title
      p(class="text-small") last post by #{item.author}
        span(class="float-right") Replies #{item.replies}
      +tagCloud(item.tags)

mixin cardVideo(item)
  div(class="grid-item 6/12 compact-1/1")
    div(class="blurb box-video card-shadow")
      img(
        class="img-rwd thumbnail"
        src=item.thumbnail
        )
      p(class="text-lead")= item.title
        | &nbsp;by #{item.author}
      p(class="text-small")= item.description
      p Rating: #{item.rating}
      +tagCloud(item.tags)

block scripts
  script(
    type="text/javascript"
    src="/js/fandom.js"
  )

block content
  .container
    .section
      .grid.grid-pair.grid-middle
        p(class="grid-item 2/3 text-small")
          strong 987
          |&nbsp;members &nbsp;&nbsp;
          strong 21,159
          |&nbsp;threads
        div(class="grid-item 1/3")
          if isJoined
            button(
              id="joinleave"
              class="btn btn-outline"
            ) Leave
          else
            button(
              id="joinleave"
              class="btn"
            ) Join
  
    if 'characters' in cats
      .section
        div(class="tab-menu")
          ul(class="tab-links")
            each val, index in cats
              li(class= index === 'characters' ? "active": "")
                a(href="#")= index
          div(class="tab-details")
            div(class="grid")
              each i in [0,1,2,3,4,5]
                div(class="grid-item 1/3 compact-1/2 element")
                  a(href="#")= cats.characters[i]
            div(id="theRest" class="grid rest")
              - var n = 6
              while n < cats.characters.length
                div(class="grid-item 1/3 compact-1/2 element")
                  a(href="#")= cats.characters[n]
                - n++
            p(class="show-more")
              a(href="#" onClick="showMore(this)") Show More
  
    .section
      div(class="grid threads-header")
        div(class="grid-item 1/1")
          h3 Trending inside #{title}
        div(class="grid-item 2/3 compact-1/1")
          input(
            type="search"
            class="search"
            placeholder="search threads"
          )
        div(class="grid-item 1/3 compact-1/1")
          a(class="btn btn-outline filter-button") Filters
      div(class="grid grid-top threads-content")
        each th in threads
          case th.type
            when 'fic'
              +cardFic(th)
            when 'art'
              +cardArt(th)
            when 'topic'
              +cardTopic(th)
            when 'video'
              +cardVideo(th)
