extends base.pug

block content
  div(class="container")
    h1 Header 1
    h2 Header 2
    h3 Header3
    p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
    p 
      i &nbsp;&nbsp;Italics text&nbsp;&nbsp;
      a(href="") Link text
      span(class="text-light") &nbsp;&nbsp; Light weight text
      span(class="text-normal") &nbsp;&nbsp; Normal weight text
      span(class="text-bold") &nbsp;&nbsp; Bold weight text
    
    hr
  
    div(class="grid")
      div(class="grid-item 1/2")
        h3 Color Palette
        div(class="color-palette")
          div(class="swatch color0") Text
          div(class="swatch color1") Primary
          div(class="swatch color2") Secondary
          div(class="swatch color3") Error
          div(class="swatch color4") Success
        h3 Grey palette
        div(class="color-palette")
          div(class="swatch white") white
          div(class="swatch light-grey") light grey
          div(class="swatch grey") grey
          div(class="swatch dark-grey") dark grey
          div(class="swatch black") black
      div(class="grid-item 1/2")
        input(
          class="search"
          type="search"
          placeholder="search bar"
        )
        input(
          type="text"
          class="validation success"
          value="success"
        )
        input(
          type="text"
          class="validation fail"
          value="fail"
        )
        div(class="whole-line")
          button(type="submit") Button
          button(type="button" disabled) Disabled
        a(href="#" class="btn btn-outline") Outline button
      
