extends base.pug

mixin person(name, avatar, isActive)
  div(class=isActive ? 'person active' : 'person')
    img(
      class="img-circle"
      src=avatar
    )
    p.name.text-micro= name

mixin line(avatar, text)
  .line
    img(class="img-circle" src=avatar)
    .bubble= text

block scripts
  script(
    type="text/javascript"
    src="js/peacecircle.js"
  )

block content
  - var modAvatar = "/images/avatar_mod.png"
  div(class="peace-circle")
    ul(class="states")
      each val, index in states
        li(class=index===1 ? "active": "")
          .state-title.text-small= val.title
          div(class="state-placeholder") &nbsp;
    hr(class="states-line")
    
    div(class="container")
      .people
        each person in participants
          +person(person.name, person.avatar, false)
        +person('Moderator', modAvatar, true)

      .convo
        +line(modAvatar, states[0].prompts)
        +line(participants[0].avatar, "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum elementum gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
        +line(participants[1].avatar, "Sed feugiat lacus eu purus varius, vitae malesuada tortor laoreet. The horizontal offset of the shadow. A positive value puts the shadow on the right side of the box")
        +line(participants[2].avatar, "Nulla ultrices, nisi quis placerat suscipit, augue elit egestas lorem, at fermentum erat metus id tortor. The horizontal offset of the shadow. A positive value puts the shadow on the right side of the box")
        +line(modAvatar, states[1].prompts)
      
    .reply-box
      textarea(placeholder="Your feeligns and thoughts?")
